html,
body {
  height: 100%;
  width: 100%;
}
.col {
  margin: 3em 0px 0px 0px;
}
.jumbotron {
  width: 60%;
}
.option {
  width: 50%;
  margin: auto;
}
.option:hover {
  background-color: #000;
  color: #fff;
}
