html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-image: radial-gradient(red, orange, yellow);
}
/* ================ Navbar & Footer styles ============== */
nav,
footer {
  background-color: #333d51;
}
.col {
  margin: 1.5em 0px 0px 0px;
}
.jumbotron {
  width: 50%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.option {
  width: 50%;
  margin: auto;
  opacity: 1;
}
.option:hover {
  font-size: 1.5em;
}
#right {
  color: green;
}
#wrong {
  color: red;
}
.fade {
  transition: opacity 1s;
  opacity: 0;
}
