html,
body {
  height: 100%;
  width: 100%;
}
.col {
  margin: 1.5em 0px 0px 0px;
}
.jumbotron {
  width: 60%;
}
.option {
  width: 50%;
  margin: auto;
  opacity: 1;
}
.option:hover {
  font-size: 2em;
}
#right {
  color: green;
}
#wrong {
  color: red;
}
.fade {
  transition: opacity 1s;
  opacity: 0;
}
